<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class = "allCards">

        <div class="particularCard">
            <img src="https://images.vexels.com/media/users/3/129733/isolated/preview/a558682b158debb6d6f49d07d854f99f-silueta-de-avatar-masculino-casual-by-vexels.png" alt="">
            <div class="information">
                <p class="description">name : </p>
                <p class="nameClass">John</p>
                <p class="description">age : </p>
                <p class="ageClass">20</p>
            </div>
            <button>delete</button>
            <button>update</button>
        </div>
        <div class="particularCard">
            <img src="https://images.vexels.com/media/users/3/129733/isolated/preview/a558682b158debb6d6f49d07d854f99f-silueta-de-avatar-masculino-casual-by-vexels.png" alt="">
            <div class="information">
                <p class="description">name : </p>
                <p class="nameClass">John</p>
                <p class="description">age : </p>
                <p class="ageClass">20</p>
            </div>
            <button>delete</button>
            <button>update</button>
        </div>
        <div class="particularCard">
            <img src="https://images.vexels.com/media/users/3/129733/isolated/preview/a558682b158debb6d6f49d07d854f99f-silueta-de-avatar-masculino-casual-by-vexels.png" alt="">
            <div class="information">
                <p class="description">name : </p>
                <p class="nameClass">John</p>
                <p class="description">age : </p>
                <p class="ageClass">20</p>
            </div>
            <button>delete</button>
            <button>update</button>
        </div>
        <div class="particularCard">
            <img src="https://images.vexels.com/media/users/3/129733/isolated/preview/a558682b158debb6d6f49d07d854f99f-silueta-de-avatar-masculino-casual-by-vexels.png" alt="">
            <div class="information">
                <p class="description">name : </p>
                <p class="nameClass">John</p>
                <p class="description">age : </p>
                <p class="ageClass">20</p>
            </div>
            <button>delete</button>
            <button>update</button>
        </div>
        <div class="particularCard">
            <img src="https://images.vexels.com/media/users/3/129733/isolated/preview/a558682b158debb6d6f49d07d854f99f-silueta-de-avatar-masculino-casual-by-vexels.png" alt="">
            <div class="information">
                <p class="description">name : </p>
                <p class="nameClass">John</p>
                <p class="description">age : </p>
                <p class="ageClass">20</p>
            </div>
            <button>delete</button>
            <button>update</button>
        </div>
        <div class="particularCard">
            <img src="https://images.vexels.com/media/users/3/129733/isolated/preview/a558682b158debb6d6f49d07d854f99f-silueta-de-avatar-masculino-casual-by-vexels.png" alt="">
            <div class="information">
                <p class="description">name : </p>
                <p class="nameClass">John</p>
                <p class="description">age : </p>
                <p class="ageClass">20</p>
            </div>
            <button>delete</button>
            <button>update</button>
        </div>
        <div class="particularCard">
            <img src="https://images.vexels.com/media/users/3/129733/isolated/preview/a558682b158debb6d6f49d07d854f99f-silueta-de-avatar-masculino-casual-by-vexels.png" alt="">
            <div class="information">
                <p class="description">name : </p>
                <p class="nameClass">John</p>
                <p class="description">age : </p>
                <p class="ageClass">20</p>
            </div>
            <button>delete</button>
            <button>update</button>
        </div>
        <div class="particularCard">
            <img src="https://images.vexels.com/media/users/3/129733/isolated/preview/a558682b158debb6d6f49d07d854f99f-silueta-de-avatar-masculino-casual-by-vexels.png" alt="">
            <div class="information">
                <p class="description">name : </p>
                <p class="nameClass">John</p>
                <p class="description">age : </p>
                <p class="ageClass">20</p>
            </div>
            <button>delete</button>
            <button>update</button>
        </div>
    </div>

    
</body>
</html>