<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
    <div class="complete-form">
        <h1>Save student</h1>
        <form class = "particular-form">
            <input type="text" placeholder="name student">
            <input type="number" placeholder="age student">
            <button type="submit"> save</button>
        </form>
        <img src="https://i.imgur.com/Ih8XMS3.png" alt="">
    </div>
</body>
</html>